<html>
<head>
    <title> test </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
    <body>
        <form action="/submit" method="POST">
            <fieldset>
                <label for="name">Name: </label>
                <input type="text"  name="name" autofocus />
                <br/>
                <label for="subject">Subject: </label>
                <input type="text" name="subject"  />
                 <br/>
                
                <input type="submit" value="submit" />
            </fieldset>
        </form>
    </body>
</html>