<body>
    <table id="table" >  
        <head>
                <script type="text/javascript" src="C:\Users\Dell\Desktop\NodePractice\day2\index.js"></script>
         <tbody>  
         <% print.forEach(function (rows) { %>
            <tr>  
                <td><%=err.id %></td>
                <td><%= err.employee_name %></td>  
                <td><%= err.employee_salary %></td>
                <td><%=err.employee_age %></td>
            </tr>                                   
         <% }) %>
         </tbody>
    </table>   
</body>

</html>